name: Python Job with Postgres Service

on:
  push:
  
jobs:
  build:
    runs-on: ubuntu-latest
    
    container:
      image: python:3.9-slim

    services:
      postgres:
        image: postgres:alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: pgs3cr3t
          POSTGRES_DB: testdb
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Python
        run: |
          python -m venv venv
          . venv/bin/activate  # Corrected the virtual environment activation command
          pip install --upgrade pip

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Tests
        run: |
          cd ../../
          cd tests
          python test_routes.py  # Update the path accordingly
